---
// Privacy Policy Page
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Privacy Policy" description="## Privacy Policy">
  <section class="section bg-white">
    <div class="container-custom">
      <div class="max-w-4xl mx-auto">
        <h1 class="text-4xl md:text-5xl font-bold text-brand-navy mb-8">Privacy Policy</h1>
        <div class="prose max-w-none">
<h2>Privacy Policy</h2>



<p>Effective Date: September 25,2025</p>

<p>This Privacy Policy applies to mydojo.software, a trading name of LEAVE.REVIEW LTD (Company Number: 05408918), a company registered in England and Wales with registered office at 124 City Road, London, England, EC1V 2NX.</p>

<p>For the purposes of data protection legislation, LEAVE.REVIEW LTD is the data controller.</p>

<p>mydojo Software Ltd and its affiliates and subsidiaries (“Company,” “we,” “us” or “our”) recognizes the importance of protecting the privacy of our online visitors. The following privacy policy (“Privacy Policy”) describes the way we handle information learned about you from your visits to all of the websites and mobile applications we operate (collectively, the “Site”).</p>

<p>PLEASE REVIEW THIS PRIVACY POLICY CAREFULLY. By accessing the Site and/or submitting information to or through the Site, you accept the terms of this Privacy Policy and consent to our collection, use, disclosure and retention of your information as described in this Privacy Policy.</p>

<p>We also act as processors or service providers for our customers and maintain, store and/or process the personal information of our customer’s constituents and clients on our customers’ behalf when our customers use our products. Such information above is not subject to this Privacy Policy and is instead subject to the privacy policies of our customers.</p>

<p>If you are a resident of the European Union (“EU”), United Kingdom (“UK”) or Switzerland, you may be afforded additional rights under these laws. Please visit our EU/UK/Switzerland Supplemental Privacy Notice at https://mymydojo.software/privacy-notice for more information on such rights and how to exercise such rights.</p>

<p>Personal Information</p>

<p>Company collects personally identifiable information from you, which may include:</p>

<p>Name</p>
<p>Telephone number</p>
<p>Email address</p>
<p>Organization/company name</p>
<p>Organization/company website</p>
<p>Account credentials (i.e., username and password)</p>
<p>Financial information</p>
<p>Country</p>
<p>Current software</p>
<p>Timeline for purchase</p>

<p>Types of services your organization/company offers.</p>
<p>Additionally, we may collect any personal information you provide us in communications you send or provide when you interact with any communications tools on the Site.</p>

<p>The information described above is collected and stored electronically when you access/visit the Site, purchase our products, use our products, request a demo of our products or sign up for a free trial, create an account with us, sign up to receive our newsletters and/or marketing communications, sign up for our webinars/events/forums or contact us.</p>

<p>Information Collected Automatically</p>

<p>Information about your computer hardware and software may automatically be collected by Company when you use the Site. This information may include:</p>

<p>IP address</p>
<p>Browser type</p>
<p>Device type</p>
<p>Access times and dates</p>
<p>Geographic location</p>
<p>Referring website addresses</p>
<p>Other technical information such as protocol status and substatus, bytes sent and received, and server information</p>
<p>Actions you take while visiting the Site.</p>
<p>This information is used by us for our business purposes, including without limitation for the operation and improvement of the Site, for technical troubleshooting, to maintain quality of the Site and to provide general statistics regarding use of the Site.</p>

<p>Cookies and Other Information Collection Tools</p>

<p>What are cookies? A cookie is a small file containing a string of characters that is sent to your computer when you visit a website or use an online service. When you visit the website or use the service again, the cookie allows that website or online service to recognize your browser or device. Cookies may store unique identifiers, user preferences and other information.</p>

<p>Duration of Cookies. We may use “session cookies” or “persistent cookies.” Session cookies are temporary and expire once you close your browser or once your session ends. Persistent cookies remain on your device for much longer or until you or your browser erase them. Persistent cookies have varying durations that are dependent on their expiration date.</p>

<p>What types of cookies do we use? Company uses:</p>

<p>Necessary Cookies. These cookies are necessary for you to browse the Site and use its features, such as accessing secure areas of the Site. Without these cookies, certain aspects of the Site may not be available to you.</p>
<p>Preferences Cookies. These cookies collect information about how you have used the Site in the past and allow the Site to remember the choices you have made. These cookies allow us to improve how the Site works for you and tailor the Site to your preferences.</p>
<p>Analytics Cookies. These cookies collect information about how you use the Site, such as which pages you most often visit on the Site, the time you spend on the Site, which links you click on, and any issues encountered. These cookies help us understand how visitors interact with the Site. All information collected is aggregated and do not identify you.</p>
<p>Marketing Cookies. These cookies track your online activity to help deliver advertisements that are relevant to you and your interests and measure the effectiveness of the advertising campaigns. They also limit how many times you see a certain advertisement. We may share the information collected through these cookies with others, such as advertisers.</p>
<p>Why do we use them? Cookies help us improve the Site by providing us with information about which parts of the Site are most popular, what actions are taken by users and what content is viewed, enabling us to analyze technical and navigational information about the Site, and helping us to detect and prevent fraud. We also use cookies and other data collection tools (such as web beacons, pixels and embedded scripts) to help improve your experience with the Site. For example, we use Google Analytics to help analyze how users use the Site. These tools use cookies to collect standard Internet log information and visitor behavior information in an anonymous form. The information generated by the cookie about your use of the Site (including IP address) is transmitted to our data collection tool service providers. This information is then used by us to evaluate visitors’ use of the Site and to compile statistical reports on website activity for Company. If you would like to opt-out from the use of your information by Google Analytics, you may use Google Analytics opt-out browser add-on designed for this purpose.</p>

<p>How do I control cookies? Web browsers allow some control of most cookies through the browser settings. To find out more about cookies, including how to manage and delete cookies, visit www.allaboutcookies.org. Some web browsers provide settings that allow a user to reject cookies or to alert a user when a cookie is placed on the user’s computer, tablet or mobile device. Most mobile devices also offer settings to reject mobile device identifiers. Although users are not required to accept cookies or mobile device identifiers, blocking or rejecting them may prevent access to some features available through the Site.</p>

<p>Web Beacons and Pixels</p>

<p>A pixel is an HTML code snippet embedded in a website or email that collects information about user behaviors and interactions with the website or email.</p>

<p>We may utilize pixels both on certain aspects of the Site and in HTML-formatted email messages to you. Pixels may be used for the purpose of, among other things, measuring the success of our marketing campaigns, compiling statistics about Site usage and tracking the activities of users of the Site and email recipients. For instance, we may use pixels on the Site to enable us to create targeted advertisements and measure the effectiveness of our advertisements. For additional information on interest-based advertising, please see the Interest-Based Advertising section below.</p>

<p>Interest Based Advertising</p>

<p>We may collect information about your online activities on our Site to provide you with advertising about products and services tailored to your individual interests. You may see certain ads on other websites because we work with advertising partners (including advertising networks) to engage in remarketing and retargeting activities. Our advertising partners allow us to target our messaging to users through demographic, interest-based and contextual means. These partners may track your online activities over time and across websites, including our Site, by collecting information through automated means, including through the use of third-party cookies and web beacons. The information our advertising partners may collect includes data about your visits to websites that participate in the relevant advertising networks, such as the pages or advertisements you view and the actions you take on the websites. This data collection takes place both on our Site and on third-party websites that participate in the ad networks.</p>

<p>Provided that a digital advertising services company participates in industry-developed programs designed to provide consumers choices about whether to receive targeted advertising, you may opt out of ad network interest-based advertising generally through the Network Advertising Initiative website or by visiting https://www.aboutads.info/choices/ (web-based advertising) or https://www.aboutads.info/appchoices (for mobile advertising). To learn more, please visit the websites operated by the Network Advertising Initiative and Digital Advertising Alliance at www.networkadvertising.org/choices. If we use such digital advertising service providers in our marketing efforts, opting-out using those tools does not mean that you will stop receiving ads from us. It means that you still stop receiving ads from us that have been targeted to you based on your visits and browsing activity across websites over time.</p>

<p>How Information is Used</p>

<p>We may use the information we collect for any of the following purposes:</p>

<p>to provide the Site to you and to improve the Site;</p>
<p>to provide, operate, improve, and personalize the products and services we offer, and to give each user a more consistent and personalized experience when interacting with us;</p>
<p>to register your account;</p>
<p>to determine trends in consumption of our products and determine where our products may be in demand;</p>
<p>to provide you with information about products and services that we may provide that we think may be of interest to you;</p>
<p>to help deliver advertisements that are relevant to you and your interests and measure the effectiveness of our advertising campaigns;</p>
<p>to provide you with updates about our products and services and with transactional information;</p>
<p>for customer service and/or support, security (including for authentication purposes), to detect fraud or illegal activities, and for archival and backup purposes in connection with the provision of the Site;</p>
<p>for analytics purposes;</p>
<p>to fulfil your requests, such as those related to ordering and payment;</p>
<p>to communicate with you;</p>
<p>to enforce our Privacy Policy or other applicable policies;</p>
<p>to comply with applicable laws or respond to a subpoena, regulation, binding order of a data protection agency, legal process, governmental request or other legal or regulatory process;</p>
<p>to enforce our rights, protect our property or protect the rights, property or safety of others;</p>
<p>as needed to support external auditing, compliance and corporate governance functions.</p>
<p>Sharing of Information</p>

<p>With Third Party Service Providers Performing Services on Our Behalf. We may share your personal information with our service providers to perform the functions for which we engage them. For example, we may use third parties to host the Site or assist us in providing functionality on the Site, provide analytics on the Site, to send out emails on our behalf or process payments.</p>
<p>With Our Affiliates and Subsidiaries. We may share your information with our family of brands and corporate affiliates (e.g., parent company, sister companies, subsidiaries, joint ventures or companies under common control) for our internal business purposes. However, if we do so, their use and disclosure of your personal information will be subject to this Privacy Policy.</p>
<p>For Legal Purposes. We also may share information that we collect from users as needed to enforce our rights, protect our property or protect the rights, property or safety of others, or as needed to support external auditing, compliance and corporate governance functions. We will disclose personal information as we deem necessary to respond to a subpoena, regulation, binding order of a data protection agency, legal process, governmental request or other legal or regulatory process. We may also share personal information as required to pursue available remedies or limit damages we may sustain.</p>
<p>Changes of Control. We reserve the right to transfer or assign the information that we have collected from users in connection with a corporate transaction, such as a divestiture, merger, consolidation, or asset sale, or in the unlikely event of bankruptcy.</p>
<p>Company does not share your personal information with third parties for those third parties’ direct marketing purposes.</p>

<p>Your Rights and Choices</p>

<p>You may opt out of receiving promotional e-mails from us by following the unsubscribe instructions provided in any such messages. Please note that if you opt out of receiving promotional messages from us, this does not impact other transactional and administrative messages which you will continue to receive (such as emails relating to billing and payment information or changes to this Privacy Policy). If you have registered for an account with us, you may delete the account at any time by contacting us at info@mymydojo.software.</p>

<p>If you have an account with us, you may access or modify some of your information and/or modify your preferences through your account or by contacting us at info@mymydojo.software.</p>

<p>Australia Residents</p>

<p>If you are an Australian resident, you have the rights to request access to and correct your personal information under Australia’s Privacy Act 1988 (“Privacy Act”). You may access or modify your information through your account or by contacting us at info@mymydojo.software.</p>

<p>If you have reason to believe that we have not complied with our obligations under the Privacy Act in relation to your personal information, please contact us at info@mymydojo.software. We will investigate all complaints and respond to you as soon as practicable.</p>

<p>We are based in the U.S. If you are accessing the Site or we collect your information in the course of providing our products and services, the information may be transferred to, processed, stored, and used in the U.S. Data protection laws in the U.S. may be different from those of Australia. Your use of the Site or provision of any information therefore constitutes your consent to the transfer to and from, processing, usage, sharing, and storage of information about you in the U.S. and other jurisdictions as set out in this Privacy Policy.</p>

<p>Links to External Websites / Online Services</p>

<p>Our Site may contain links to third-party websites and/or online services. Any access to and use of such third-party websites and/or online services is not governed by this Privacy Policy, but is instead governed by the privacy policies of those third parties, and we are not responsible for the information practices of such third-party websites and/or online services.</p>

<p>Security</p>

<p>Company uses reasonable security measures designed to prevent unauthorized intrusion to the Site and the alteration, acquisition or misuse of personal information. However, the security of information transmitted through the Internet can never be guaranteed. We are not responsible for any interception or interruption of any communications through the Internet or for changes to or losses of data. Users of the Site are responsible for maintaining the security of any password, user ID or other form of authentication involved in obtaining access to password protected or secure areas of any of our Site. In order to protect us, you and your data, we may suspend your use of the Site, without notice if any breach of security is suspected. Access to and use of password protected and/or secure areas of the Site are restricted to authorized users only. Unauthorized access to such areas is prohibited.</p>

<p>Do Not Track</p>

<p>Our Site does not currently take any action when it receives a Do Not Track request. Do Not Track is a privacy preference that you can set in your web browser to indicate that you do not want certain information about your webpage visits collected across websites when you have not interacted with that service on the page. For details, including how to turn on Do Not Track, visit www.donottrack.us.</p>

<p>Children</p>

<p>We do not knowingly collect or maintain personal information from any person under the age of eighteen. No parts of our Site are directed to or designed to attract anyone under the age of eighteen.</p>

<p>Contact Information; Questions and Changes in Information</p>

<p>If you have any questions regarding this Privacy Policy or to request changes to your personal information, please contact us at info@mymydojo.software.</p>

<p>Notification of Changes</p>

<p>Any changes to our Privacy Policy will be posted to this page so users are always aware of the information we collect and how we use it. Accordingly, please refer back to this Privacy Policy frequently as it may change.</p>

<h2>FAQs</h2>

<h3>What is mymydojo.software?</h3>

<p>mymydojo.software is an all-in-one platform for bookings, payments, and operations across dog daycare, cattery, kennel and grooming.</p>
<h3>How does it save time?</h3>

<p>It automates booking, capacity management, reminders, and invoicing to cut manual admin.</p>
<h3>Does it support multiple locations?</h3>

<p>Yes, you can manage multi-location calendars and roles.</p>
<h3>Can I migrate from spreadsheets?</h3>

<p>Yes — import tools and guided onboarding make switching straightforward.</p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
